@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
/* font-family: 'Black Han Sans', sans-serif */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', sans-serif */
body {
    margin:0px;
    padding: 0px;
    user-select: none;
}

input {
    font-family: 'Noto Sans KR', sans-serif


}
